body{
    background-color: #DDFFBC;
    color: #263A29;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #263A29;
    color:#DDFFBC;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
    color:#DDFFBC
}
.col-md-9{
    background: #52734D;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
     color:#DDFFBC;
}
.contact-form button{
    background: #263A29;
    color: #DDFFBC;
    font-weight: 600;
    width: 25%;
}
.contact-form button:hover{
    background: #DDFFBC;
    color:#263A29;
    font-weight: 800;
}
.contact-form button:focus{
    box-shadow:none;

}